{% extends "layout/base.html" %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Files</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <tr>
                    <th style="width: 10px;"></th>
                    <th>Name</th>
                    <th>Create Date</th>
                    <th>Modified Date</th>
                    <th>Size</th>
                </tr>
                {% for file in files|sort(attribute='name')|sort(reverse=True,attribute='is_dir') %}
                    <tr>
                        <td></td>
                        <td><i class="fa fa-{{ 'folder' if file.is_dir else 'file-o' }}"
                               style="padding-right: 2px;"></i><a
                                href="{{ url_for('aide.codes') }}?path={{ file.param }}">{{ file.name }}</a></td>
                        <td>{{ file.create_date|date_format }}</td>
                        <td>{{ file.modified_date|date_format }}</td>
                        <td>
                            {% if file.size %}
                                {{ file.size|filesizeformat }}
                            {% else %}
                                {{ file.size }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}